.mid-container{
    height: calc(100% - 50px);
    background-color: rgb(61, 61, 61);
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: auto;



    ::placeholder{
        color: white;
    }

    .mobile-view-container{
        background-color: rgb(75, 75, 75);
        max-width: 650px;
        margin: auto;
        height: auto;
        position: relative;

        .upload-section{

            form{
                
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    color: white;
                    font-size: 24px;
                    margin: 10px;
                    
                }
                .input-text-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 80px;

                    .input1{
                        width: 80%;
                        border: none;
                        background-color: rgb(113, 112, 112);
                        color: white;
                        font-size: 16px;
                        height: 50px;
                        border-radius: 7px;
                        padding-left: 10px;
                        transition: .2s ease-in-out;
                        border: 1px solid rgb(95, 94, 94);

                        
    
                    }
                    .input1:focus{
                        outline: none;
                        box-shadow: 0 0 10px rgb(101, 106, 240);
                    }

                }
               
                .file-upload{
                    height: 59px;
                    display: flex;
                    align-items: center;
                    width: 100%;

                    label{
                        color: white;
                        display: flex;
                        align-items: center;
                        margin: 0 10px;
                        
                        #upload-icon{
                            color: rgb(23, 4, 118);
                            background-color: rgba(29, 31, 150, 0.341);
                        }
                         i{
                            font-size: 20px;
                            color: white;
                            padding: 10px;
                            border-radius: 50%;
                            transition: .2s ease-in-out;
                            cursor: pointer;

                         }
                         i:hover{
                            background-color: rgb(121, 121, 121);
                         }
                         i:active{
                            background-color: rgb(105, 105, 105);


                         }
                    }

                    .input2{
                        display: none;

                    }
                    button{
                        padding: 8px 20px;
                        font-weight: 600;
                        background-color: #1877f2;
                        font-size: 16px;
                        color: white;
                        border-radius: 20px;
                        border: none;
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                        align-self: center;

                    }
                    button:hover{
                        background-color: #3d8bf0;
                        color: white;
                    }

                }
               
            }
            hr{
                margin: 0;
            }
        }

        .post-array-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            h3{
                margin: 10px 0;
                color: white;

            }

        }
    }
}